.lnb-button {
  padding: 16px 24px 16px 24px;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

.lnb-button:hover {
  background-color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .lnb-button {
    padding: 2px 6px 2px 6px;
  }
}

@media screen and (min-width: 1024px) {
  .lnb-button {
    padding: 6px 14px 6px 14px;
  }
}