.page-app-container {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.home-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.home-hints-block {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.home-hint {
  width: 126px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.home-hint p {
  font-size: 16px;
  color: #333;
}

.home-hint-ct {
  width: 14px;
  height: 14px;
  border: 2px solid #378aff;
  color: #60a2ff24;
  border-radius: 4px;
  margin-right: 16px;
}

.home-hint-cct {
  width: 14px;
  height: 14px;
  border: 2px solid rgb(223, 58, 58);
  border-radius: 4px;
  margin-right: 16px;
}

.page-app-widgets {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
}

.home-day-overview {
  width: 100%;
  min-height: calc(550px + 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding-top: 8px;
  box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
  margin-top: 16px;
}

.home-day-overview-title {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .page-app-container {
    height: 87.7%;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    margin-top: 16px;
    overflow-y: hidden;
  }

  .page-app-widgets {
    width: 80%;
    height: 100%;
    padding-right: 8px;
  }

  .home-day-overview {
    width: 19%;
    min-height: 100%;
    margin-top: 0;
  }
}
