.analytics-container {
    width: 86%;
    height: 100%;
    padding: 30px 112px 24px 112px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.analytics-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 26px;
}

.a-header-title {
    font-size: 22px;
    font-weight: bold;
}

.a-header-subtitle {
    font-size: 16px;
    color: #676767;
}

.a-overview-block{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.a-overview-block p{
    color: #535353;
}

.a-data-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.a-textinfo-block{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 24px;
}

.a-tib-header{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.a-tibh-title{
    font-size: 18px;
    font-weight: bold;
}

.a-tib-button{
    color: #737373;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4px 24px;
}

.a-tib-button i{
    color: #737373;
    font-size: 19px;
    margin-left: 8px;
}

.a-tib-data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
    gap: 32px;
}

.a-tib-data p{
    color: #535353;
}

.a-g-block{
    width: 50%;
    height: 340px;
    background-color: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 24px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Высота контейнера */
    width: 250px; /* Ширина контейнера */
    margin: 0 auto; /* Отцентровка */
}