.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.h-labels-block {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.h-sub-label {
  font-size: 16px;
  color: #595959;
}

.h-buttons-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.h-dropdown {
  position: relative;
  display: inline-block;
}

.h-dropdown-button {
  width: 180px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h-dropdown-button i {
  font-size: 14px;
  padding: 6px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-right: 10px;
}

.h-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5px;
  z-index: 100;
}

.h-dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease;
}

.h-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.h-dropdown:hover .dropdown-content {
  display: block;
}

.h-menu-button {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 12px;
}

.h-menu-button i {
  color: #333;
}

.h-greetings-label {
  font-size: 22px;
  font-weight: bold;
}

.add-context-menu {
  position: absolute;
  top: 90px;
  right: 135px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
}

.add-context-menu-buttons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 8px;
}

.add-context-menu button {
  padding: 10px 15px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}

.add-context-menu button i {
  margin-right: 8px;
}

.add-context-menu button:hover {
  background-color: #f0f0f0;
}

.add-context-menu-dissmiss-btn {
  color: #6b6b6b !important;
  background-color: #efefef;
  margin-top: 8px;
  height: 30px !important;
  font-size: 14px;
  justify-content: center !important;
}
