.home-tasks-widget {
    width: 49%;
    height: 315px;
    border-radius: 8px;
    background-color: white;
    padding: 12px;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
}

.task-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    background: none;
    border: none;
    cursor: pointer;
}

.sort-button:hover .sort-icon{
    color: #7437ff;
}

.sort-icon {
    font-size: 18px;
    color: #333;
    transition: color 0.2s;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.view-all-link {
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ab99dd;
    margin-left: 8px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 8px;
    text-decoration: none;
    transition: all 0.2s;
}

.view-all-link:hover {
    background-color: #ab99dd;
    color: #fff;
}

.hint-block {
    width: 100%;
    display: flex;
    border-top: 1px solid #eee;
    justify-content: space-around;
    padding-top: 8px;
}

.home-hint {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
