.page-container {
  width: 85%;
  height: 100%;
  padding: 24px 26px 24px 26px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.page-app-container {
  width: 100%;
  height: 87.7%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  margin-top: 16px;
  overflow-y: hidden;
}

.home-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.home-hints-block {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.home-hint {
  width: 126px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.home-hint p {
  font-size: 16px;
  color: #333;
}

.home-hint-ct {
  width: 14px;
  height: 14px;
  border: 2px solid #378aff;
  color: #60a2ff24;
  border-radius: 4px;
  margin-right: 16px;
}

.home-hint-cct {
  width: 14px;
  height: 14px;
  border: 2px solid rgb(223, 58, 58);
  border-radius: 4px;
  margin-right: 16px;
}

.page-app-widgets {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 18px;
  padding-right: 8px;
}

.page-app-widgets::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.page-app-widgets::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}

.page-app-widgets::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 10px;
}

.page-app-widgets::-webkit-scrollbar-thumb:hover {
  background: #a985ff;
}

.home-day-overview {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding-top: 8px;
  box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
}

.home-day-overview-title {
  font-size: 16px;
  font-weight: bold;
}
