.nav-menu-container {
  width: 14%;
  height: 100%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
  padding: 34px 12px 34px 12px;
  position: fixed;
}

.nm-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.nm-buttons-container {
  min-height: 80%;
  color: #f1f1f1;
  overflow-y: auto;
}

.nm-buttons-group {
  margin-top: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 18px;
}
