.t-container,
.completed-task,
.task-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  background-color: transparent !important;
  position: relative;
  height: 45px;
  min-height: 45px;
}

/* Task content */
.task-block {
  width: 100%;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.task-main-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.task-name {
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

.task-name.completed {
  text-decoration: line-through;
}

.task-sub-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.priority-block {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: none;
  justify-content: center;
  align-items: center;
}

.date-block {
  display: none;
}

.date-icon {
  font-size: 16px;
  color: rgb(152, 152, 152);
  margin-right: 12px;
}

.date-label {
  color: grey;
  font-size: 14px;
}

.action-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon {
  font-size: 20px;
  color: #333;
}

.action-icon.delete {
  color: red;
}

/* Note Icon Block */
.visible-task-info-block {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  margin-left: 12px;
}

.visible-task-info-block i {
  font-size: 16px;
  color: rgb(152, 152, 152);
}

.invisible-block {
  display: none;
}

/* Checkbox styles */
.checkbox-wrapper-19 {
  --background-color: transparent;
  --checkbox-height: 20px;
  height: var(--checkbox-height);
  box-sizing: border-box;
}

.checkbox-wrapper-19 input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.2);
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d;
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  animation: dothabottomcheck-19 0.2s ease forwards;
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  animation: dothatopcheck-19 0.4s ease forwards;
}

/* Checkbox animations */
@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0%,
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}

@media screen and (min-width: 768px) {
  .date-block {
    width: 130px;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #f5f5f5;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
  }

  .date-icon {
    font-size: 16px;
    color: rgb(152, 152, 152);
    margin-right: 12px;
  }

  .date-label {
    color: grey;
  }

  .action-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-icon {
    font-size: 20px;
    color: #333;
  }

  .action-icon.delete {
    color: red;
  }

  .priority-block {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .t-container {
    width: 100%;
    /* border-radius: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent !important;
    position: relative;
    min-height: 45px;
  }

  .completed-task {
    width: 100%;
    /* border-radius: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent !important;
    position: relative;
    min-height: 45px;
  }

  .visible-task-info-block {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f5f5f5 !important;
    border-radius: 8px;
    margin-left: 12px;
  }

  .visible-task-info-block i {
    font-size: 16px;
    color: rgb(152, 152, 152);
  }

  .invisible-block {
    display: none;
  }

  .task-container {
    border: 1px solid transparent;
    border-radius: 0px;
    height: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
  }

  .task-block {
    width: 100%;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .task-main-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .task-name {
    font-size: 16px;
    color: #333;
    font-weight: normal;
  }

  .task-name.completed {
    text-decoration: line-through;
  }

  .task-sub-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .date-block {
    width: 130px;
    height: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #f5f5f5;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
  }

  .date-icon {
    font-size: 16px;
    color: rgb(152, 152, 152);
    margin-right: 12px;
  }

  .date-label {
    color: grey;
  }

  .action-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-icon {
    font-size: 20px;
    color: #333;
  }

  .action-icon.delete {
    color: red;
  }

  .priority-block {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}