.tasks-container {
  width: 86%;
  height: 100%;
  padding: 30px 144px 24px 144px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.tasks-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.t-header-title {
  font-size: 22px;
  font-weight: bold;
}

.t-menu-button {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 12px;
}

.t-menu-button i {
  color: #333;
}
