.hta-widget {
    width: 100%;
    height: 230px;
    border-radius: 8px;
    background-color: white;
    padding: 12px;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
}

.hta-data-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.hta-data-item {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.hta-data-item:nth-child(1), .hta-data-item:nth-child(3) {
    margin-bottom: 24px;
}

.ht-chart-container {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .hta-widget {
        width: 49%;
        height: 230px;
        border-radius: 8px;
        background-color: white;
        padding: 12px;
        box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
    }

    .hta-data-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hta-data-item {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .hta-data-item:nth-child(1), .hta-data-item:nth-child(3) {
        margin-bottom: 24px;
    }

    .ht-chart-container {
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}